<!--------
    WARS LIST
--------->

<ng-container *ngIf="!this.pageState.extra">
    <!-- group filter -->
    <div class="groupFilter" #groupsBox>
        <div class="group active" #first_group (click)="this.group='A'; this.setActive(groupsBox, first_group); this.setMatches()">A</div>
        <div class="group" #second_group (click)="this.group='B'; this.setActive(groupsBox, second_group); this.setMatches()">B</div>
        <div class="group" #third_group (click)="this.group='C'; this.setActive(groupsBox, third_group); this.setMatches()">C</div>
        <div class="group" #fourth_group (click)="this.group='D'; this.setActive(groupsBox, fourth_group); this.setMatches()">D</div>
    </div>


    <!-- week filter -->
    <div class="weekFilterBox">
        <div class="arrow left" (click)="this.previousWeek(weeksBox)"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="weekFilter" #weeksBox>
            <div 
            #week_div
            class="week" 
            (click)="this.week=i+1; this.setActive(weeksBox, week_div); this.setMatches()" 
            *ngFor=" let a of this.weeks; let i = index"
            [ngClass]="{ 'active': i+1 == this.week, 'week': true, 'hide': i >= this.screen }"
            >
                {{this.screen == 3 ? 'Sem. ' : "Semana "}}{{i + 1}}
            </div>
        </div>
        <div class="arrow rigth" (click)="this.nextWeek(weeksBox)"><i class="fa-solid fa-chevron-right"></i></div>
    </div>


    <!-- wars list -->
    <div class="warList">
        <div class="war" *ngFor="let war of this.matches" (click)="this.warDetails(); this.setWar(war)">
            <div class="team">
                <img src="assets/teams/{{war.clan_A.substring(1)}}.png" />
                <h3>{{war.clan_A_short_name}}</h3>
            </div>
            <div class="result">
                <p>{{war.stars_A}}</p>
                <p>-</p>
                <p>{{war.stars_B}}</p>
            </div>
            <div class="team">
                <h3>{{war.clan_B_short_name}}</h3>
                <img src="assets/teams/{{war.clan_B.substring(1)}}.png" />
            </div>        
        </div>
    </div>
</ng-container>


<!--------
    WAR DETAILS
--------->
<ng-container *ngIf="this.pageState.extra">
    <!-- header -->
    <div class="warHeader">
        <div class="back" (click)="this.goBackToList()"><i class="fa-solid fa-arrow-left"></i></div>
        <h2>{{this.war.clan_A_name}} - {{this.war.clan_B_name}}</h2>
    </div>

    <!-- result -->
    <div class="warResult">
        <div class="result_team">
            <img src="assets/teams/{{this.war.clan_A.substring(1)}}.png"/>
            <h3>{{this.war.clan_A_short_name}}</h3>
        </div>
        <div class="result_stars">
            <h3>{{this.war.stars_A}} - {{this.war.stars_B}}</h3>
            <div class="result_percentage">
                <h6>{{this.war.percentage_A}} % {{this.war.percentage_B}}</h6>
            </div>
        </div>
        <div class="result_team">
            <img src="assets/teams/{{this.war.clan_B.substring(1)}}.png"/>
            <h3>{{this.war.clan_B_short_name}}</h3>
        </div>
    </div>

    <!-- get result btn -->
    <!-- ngIf war not ended -->
    <div class="error hide" #error_endWar></div>
    <button class="main_action_button results" *ngIf="this.war.state!='finished'" #btn (click)="this.endWar(btn,error_endWar)">CARGAR RESULTADOS</button>
    <div class="spacer" *ngIf="this.war.state =='finished'" style="height:60px"></div>

    <!-- players -->
    <section class="players">
        <h1>jugadores</h1>
        <div class="teamSelector" #group>
            <div class="teamAttacks active" #team1 (click)="this.setActive(group, team1); this.showTeam(teamA, teamB)">{{this.war.clan_A_short_name}}</div>
            <div class="teamAttacks" #team2 (click)="this.setActive(group, team2); this.showTeam(teamB, teamA)">{{this.war.clan_B_short_name}}</div>
        </div>
        <!-- ngIf war attacks -->
        <div class="attacksList">
            <div class="team active" #teamA>
                <div class="attack" *ngFor="let attack of this.attacks.clan">
                    <div class="extra"><i class="fa-solid fa-star" *ngIf="attacks.attack_number == 2"></i></div>
                    <p name="name">{{attack.name}}</p>

                    <p name="stars" long-name="estrellas" short-name="☆" *ngIf="!this.admin">{{attack.stars}}</p>
                    <p name="percentage" long-name="porcentaje" short-name="%" *ngIf="!this.admin">{{attack.percentage}}</p>
                    
                    <input type="text" name="stars" *ngIf="this.admin" [value]="attack.stars">
                    <input type="text" name="percentage" *ngIf="this.admin" [value]="attack.percentage">
                </div>
            </div>
            <div class="team" #teamB>
                <div class="attack" *ngFor="let attack of this.attacks.opponent">
                    <div class="extra"><i class="fa-solid fa-star" *ngIf="attacks.attack_number == 2"></i></div>
                    <p name="name">{{attack.name}}</p>

                    <p name="stars" long-name="estrellas" short-name="☆" *ngIf="!this.admin">{{attack.stars}}</p>
                    <p name="percentage" long-name="porcentaje" short-name="%" *ngIf="!this.admin">{{attack.percentage}}</p>
                    
                    <input type="text" name="stars" *ngIf="this.admin" [value]="attack.stars">
                    <input type="text" name="percentage" *ngIf="this.admin" [value]="attack.percentage">
                </div>
            </div>
        </div>
        <!-- *ngIf admin -->
        <div class="actionsBox" *ngIf="this.admin">
            <button class="main_action_button">Guardar</button>
            <button class="delete_action_button">Sanción</button>
        </div>

    </section>
</ng-container>