<!-- group filter -->
<div class="groupFilter" #groupsBox>
    <div class="group active" #first_group (click)="this.group='A'; this.setActive(groupsBox, first_group)">A</div>
    <div class="group" #second_group (click)="this.group='B'; this.setActive(groupsBox, second_group)">B</div>
    <div class="group" #third_group (click)="this.group='C'; this.setActive(groupsBox, third_group)">C</div>
    <div class="group" #fourth_group (click)="this.group='D'; this.setActive(groupsBox, fourth_group)">D</div>
</div>


<!-- week filter -->
<div class="weekFilter" #weeksBox>
    <div 
      #week_div
      class="week active" 
      (click)="this.week=1; this.setActive(weeksBox, week_div)" 
      *ngFor=" let a of this.screen; let i = index"
      [ngClass]="{ 'active': i == 0, 'week': true }"
    >
    {{this.screen.length == 3 ? 'Sem. ' : "Semana "}}{{i + 1}}
    </div>
</div>


<!-- wars list -->
<div class="warList">
    <div class="war" *ngFor="let a of this.matches">
        <div class="team">
            <img src="/assets/lleida.png" />
            <h3>LPT</h3>
        </div>
        <div class="result">
            <p>0</p>
            <p>-</p>
            <p>0</p>
        </div>
        <div class="team">
            <h3>LPT</h3>
            <img src="/assets/lleida.png" />
        </div>        
    </div>
</div>
