/*********************
    WEEK FILTER
*********************/
.weekFilter
{
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    margin: 0 auto 2rem auto;
    overflow: hidden;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 3% 100%);
}

.weekFilter > .week
{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-main);
    color: white;
    font-size: .8rem;

}
.weekFilter > .week.active
{
    background: var(--color-main-dark1);
}
@media screen and (min-width: 1024px) {
    .weekFilter{max-width: 750px;}
    .weekFilter > .week{width: 19.85%;}
}


/*********************
         WARS
*********************/
.warList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
}

.war
{
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: 1px 3px 6px #00000015;
    margin-bottom: .75rem;
    border-radius: 3px;
    height: 80px;

    display: grid;
    grid-template-columns: 35% 20% 35%;
    grid-gap: 5%;
    justify-items: center;
    padding: 0 10px;
    
    cursor: pointer;
}
.war.main{background: #9CC9FC;}
.war * {pointer-events: none;}

.war > .team,
.war > .result
{ 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.war > .result{grid-template-columns: repeat(3, 1fr);}

.war > .team > img { height: 70%; width: auto;}
.war > .team > h3 { font-weight: 500;}

@media screen and (max-width: 400px) {
    .war{height: 60px; padding: 0 4px;}
    .war > .team > h3 {font-size: .9rem;}
}