
<div class="braket" style="--width: 180px">
    <div class="round" *ngFor="let round of this.rounds">
        <div class="header">
            {{this.matchName(round.round)}}
        </div>
        <div class="war" *ngFor="let war of round.wars">
            <div class="team">
                <p *ngIf="war.clan_A != '#0000'">{{war.clan_A}}</p>
                <p *ngIf="war.clan_A == '#0000'">???</p>
                <p>{{war.stars_A}}</p>
            </div>
            <div class="team">
                <p *ngIf="war.clan_B != '#0000'">{{war.clan_B}}</p>
                <p *ngIf="war.clan_B == '#0000'">???</p>
                <p>{{war.stars_B}}</p>
            </div>
        </div>
    </div>
</div>

