<!-- group filter -->
<div class="groupFilter" #groupsBox>
    <div class="group active" #first_group (click)="this.group='A'; this.setActive(groupsBox, first_group); this.filterRanking()">A</div>
    <div class="group" #second_group (click)="this.group='B'; this.setActive(groupsBox, second_group); this.filterRanking()">B</div>
    <div class="group" #third_group (click)="this.group='C'; this.setActive(groupsBox, third_group); this.filterRanking()">C</div>
    <div class="group" #fourth_group (click)="this.group='D'; this.setActive(groupsBox, fourth_group); this.filterRanking()">D</div>
</div>

<ul class="table">
    <li class="header">
        <div class="num">G</div>
        <div class="num">V</div>
        <div class="num">D</div>
        <div class="num">☆</div>
        <div class="num">%</div>
        <div class="num">PTS</div>
    </li>
    <li class="row" *ngFor="let team of this.teams; let i = index">
        <div class="short_num">{{i+1}}</div>
        <div class="img"><img src="{{'assets/teams/'+team.clan.substring(1)+'.png'}}"/></div>
        <div class="string"><p>{{team.name}}</p></div>
        <div class="num">{{team.wars}}</div>
        <div class="num">{{team.win}}</div>
        <div class="num">{{team.loss}}</div>
        <div class="num">{{team.stars}}</div>
        <div class="num">{{team.percentage}}</div>
        <div class="num">{{team.pts}}</div>
    </li>
</ul>
